@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter";
  scroll-behavior: smooth;
}

html,
body,
#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; /* Fallback für ältere Browser */
  touch-action: pan-y; /* verhindert horizontales Wobbeln beim Scrollen */
}

@supports (overflow: clip) {
  html,
  body,
  #root {
    overflow-x: clip; /* moderne, saubere Variante */
  }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #c24d2cd1;
}

::-webkit-scrollbar-track {
  background: rgb(233, 233, 233);
}
